$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$page-bg-gradient-start: rgb(255,255,255);
$page-bg-gradient-end: rgb(229,229,229);
$theme-color: #669b41;
$theme-color-dark: rgb(82, 125, 52);
$dark-text: rgb(47,47,47);
$dark-sub-text: rgba(47, 47, 47, 0.9);
$text-shadow-color: #e2e2e2;
$main-display-img: "/assets/images/chicago_skyline.jpg";
$prius-image-url: "/assets/images/toyota_prius_nature.jpg";

