@charset "utf-8";
@import "variables";
@import "common_mixins";
@import "animations_and_keyframes";

html {
  height: 100%;
}

body {
  @include main-site-fnt;
  @include main-site-bg;
  @include centered;
  margin: 0;
  height: 100%;
  font-size: 14px;
}

h1 {
  @include bold-font;
}

ul {
  padding: 0px;
  list-style-type: none;
}

.inline-link {
  color: $theme-color;
  cursor: pointer;
}

.button {
  @include upcase;
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  background: $theme-color;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.10);
  transition: all 100ms linear;
}

.section {
  padding: 50px 20px;
  background: rgba(0,0,0,.7);
  height: inherit;
}

#header {
  margin: auto 25px;
  padding: 10px;
}

#header-mobile {
  display: none;
}

.header-div {
  @include inline-el;
  margin: 0px auto;
  vertical-align: middle;
}

#logo-container {
  width: 10%;
  @include align-left;
}

#logo-container img {
  width: 90px;
}

#nav-holder {
  width: 70%;
  @include align-right;
}

.nav-option {
  @include inline-el;
  margin: auto 8px;
  padding: 5px;
}

.nav-link {
  padding: 8px;
  color: $dark-text;
  font-size: 20px;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid $theme-color;
  cursor: pointer;
}

#main-display {
  margin: 0px auto;
  height: 550px;
  background: url($main-display-img);
  @include full-bg;
}

#display-text-container {
  @include inline-el;
  margin: 75px auto 0px 0px;
  width: 60%;
  vertical-align: middle;
  color: #fff;
}

#company-slogan {
  @include align-left;
  font-size: 40px;
}

.company-description {
  @include align-left;
  margin: 5px auto;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
}

#display-screen-buttons {
  @include inline-el;
  margin: 100px 0px 0px auto;
  vertical-align: middle;
}

#display-screen-buttons h4 {
  color: #fff;
  font-size: 16px;
}

#about {
  margin: 0px auto;
  padding: 60px 0 60px 0;
  background: $page-bg-gradient-start;
}

#about h1 {
  @include section-h1($dark-text);
}

.steps {
  @include inline-el;
  margin: 10px;
  padding: 15px;
  width: 250px;
  height: 250px;
  vertical-align: top;
}

.step-icon {
  height: 50%;
}

.step-icon .fa {
  padding: 5px;
  font-size: 55px;
  color: $theme-color;
}

.step-icon h4 {
  margin: 10px auto;
  font-size: 18px;
  @include upcase;
  color: $dark-text;
}

.step-text {
  @include align-left;
  padding: 20px 10px;
  height: 80px;
  background: $page-bg-gradient-end;
  border-radius: 5px;
}

.step-text span {
  font-size: 16px;
  color: $dark-text;
}

#pricing {
  margin: 0px auto;
  background: url($prius-image-url);
  @include full-bg;
}

#shifts-info {
  @include inline-el;
  padding: 40px 10px;
  width: 250px;
  vertical-align: middle;
  color: #fff;
}

#shifts-info h4 {
  margin: 0;
  font-size: 24px;
}

#shifts-info li {
  @include underline;
  margin: 5px auto;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
}

#pricing-info {
  @include inline-el;
  @include align-left;
  width: 700px;
  vertical-align: middle;
  color: #fff;
}

#pricing-info p {
  margin: 5px auto;
  font-size: 18px;
}

.prices {
  margin: 5px auto;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
}

.prices span {
  font-family: Arial;
  text-transform: lowercase;
  font-weight: normal;
  font-size: 25px;
}

#user-signup-flow {
  margin: 50px auto 20px auto;
}

#user-signup-flow span {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

#faq {
  margin: 0px auto;
  padding: 40px 10px;
  background: $page-bg-gradient-start;
}

#faq h1 {
  color: $dark-text;
}

#faq p {
  @include centered;
  margin: auto 20px;
  font-size: 20px;
  color: $dark-text;
}

#faq-header {
  font-size: 18px;
  font-style: italic;
  color: $dark-text;
}

.eligibility-rules {
  @include align-left;
  margin: 10px 25px;
  padding: 10px;
}

.eligibility-rules h2 {
  @include bold-font;
  color: $dark-text;
  font-size: 25px;
}

.eligibility-rules ul {
  margin: auto 30px;
}

.eligibility-rules li {
  margin: 5px auto;
  padding: 5px;
  font-size: 20px;
  color: $dark-sub-text;
  font-weight: bold;
}

.requirement {
  margin: auto 5px;
  @include inline-el;
  vertical-align: middle;
}

.requirement .fa {
  font-size: 30px;
  color: $theme-color;
}

.requirement span {
  font-size: 20px;
  color: $dark-sub-text;
  font-weight: bold;
}

#more-questions {
  margin: 0px auto;
  padding: 30px 0;
  background: $page-bg-gradient-end;
  @include full-bg;
}

.question-answer-pairs {
  margin: 10px 20px;
  padding: 10px;
  @include align-left;
}

.question {
  padding: 8px 10px;
  width: 70%;
  background: $page-bg-gradient-start;
  border-radius: 10px;
  cursor: pointer;
}

.question span {
  font-size: 16px;
  color: $dark-text;
}

.question .fa {
  padding: 0 10px;
  float: right;
  font-size: 16px;
  color: $dark-text;
}

.answer {
  margin: 10px;
  padding: 15px;
  color: $dark-text;
  border: 1px solid #e2e2e2;
  background: $page-bg-gradient-start;
  border-radius: 10px;
  font-size: 16px;
}

.closed {
  display: none;
}

.answer .list-item {
  margin: 5px auto;
}

.forum-section-header {
  @include align-left;
  padding: 0 30px;
}

#footer {
  margin: 0;
  background: $page-bg-gradient-start;
  padding: 10px;
}

#facebook-logo a {
  font-size: 45px;
}

#facebook-logo .fa {
  color: #3b5998;
}

@media screen and (max-width: 600px) {
  @import "mobile";
}
