/*$bg-image*/
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$page-bg-gradient-start: rgb(255,255,255);
$page-bg-gradient-end: rgb(229,229,229);
$theme-color: #669b41;
$theme-color-dark: rgb(82, 125, 52);
$text-shadow-color: #e2e2e2;
$main-display-img: "../images/chicago_skyline.jpg";
$prius-image-url: "../images/toyota_prius_nature.jpg";
/*$van-image-url*/

