@charset "utf-8";
@import "normalize";
@import "variables";

html {
  height: 100%;
}

body {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(229,229,229) 100%);
  background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%);
  background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(229,229,229) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  text-align: center;
  font-family: $font-stack;
  font-size: 14px;
}

#logo-container {
  max-height: 100px;
  padding: 5px;
}

#header-container {
  margin: 0px auto;
  width: 95%;
  height: 80%;
  -moz-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, .5);
  border-radius: 5px;
  background: url("../images/beamer_stock_photo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#header-text-container {
  /*width: 50%;*/
  margin-left: auto;
  padding-top: 15%;
}

#header-text {
  margin: 0 auto 25px auto;
  width: 360px;
  padding: 10px;
  color: #fff;
  text-shadow: 3px 3px 5px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 35px;
  font-weight: bolder;
  border-bottom: 1px solid #000;
}

#sign_up_button {
  padding: 10px 25px;
  background: #669b41;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #283e1a;
  border-radius: 15px;
}

.button {
  padding: 8px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.button:hover {
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

#nav-container {
  background: #333;
  background-size: cover;
}

#nav-holder {
  /*margin: 10px 20px 10px auto;*/
  margin: auto;
  padding: 2px;
  width: 90%;
  text-align: right;
}

.nav-link {
  display: inline-block;
  margin: auto 5px;
  padding: 5px;
}

#header-img {
  position: relative;
  background: url($header-img-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: $font-stack;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

@media only screen and (max-width: 600px) {
  #header-text {
    width: 75%;
    font-size: 25px;
  }
}
