@charset "utf-8";
@import "variables";
@import "common_mixins";
@import "animations_and_keyframes";

html {
  height: 100%;
}

body {
  @include main-site-fnt;
  @include main-site-bg;
  margin: 0;
  height: 100%;
  text-align: center;
  font-size: 14px;
}

h1 {
  @include bold-font;
  @include upcase;
  color: $theme-color;
}

h4 {
  color: $theme-color;
}

ul {
  padding: 0px;
  list-style-type: none;
}

.inline-link {
  color: $theme-color;
  cursor: pointer;
}

.button {
  @include upcase;
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  background: $theme-color;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.10);
  transition: all 100ms linear;
}

#header {
  margin: auto 25px;
  padding: 10px;
}

.header-div {
  @include inline-el;
  margin: 0px auto;
  vertical-align: middle;
}

#logo-container {
  width: 10%;
  @include align-left;
}

#logo-container img {
  width: 60px;
}

#nav-holder {
  width: 70%;
  @include align-right;
}

.nav-option {
  @include inline-el;
  margin: auto 8px;
  padding: 5px;
}

.nav-link {
  padding: 8px;
  color: $theme-color-dark;
  font-size: 20px;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 2px solid $theme-color;
  cursor: pointer;
}

#main-display {
  @include div-shadow;
  margin: 0px auto;
  height: 500px;
  background: url($main-display-img);
  @include full-bg;
}

#display-text-container {
  @include inline-el;
  margin: 75px auto 0px 0px;
  width: 60%;
  vertical-align: middle;
}

#company-slogan {
  @include align-left;
  @include txt-shadow($text-shadow-color);
  font-size: 40px;
  color: $theme-color;
}

.company-description {
  @include align-left;
  @include txt-shadow($text-shadow-color);
  color: $theme-color;
  margin: 5px auto;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
}

#display-screen-buttons {
  @include inline-el;
  margin: 100px 0px 0px auto;
  vertical-align: middle;
}

#display-screen-buttons h4 {
  @include txt-shadow($text-shadow-color);
  color: $theme-color;
  font-size: 16px;
}

#about {
  margin: 0px auto;
  padding: 60px 0 60px 0;
  background: $page-bg-gradient-start;
}

#about h1 {
  @include section-h1($theme-color);
  color: $theme-color-dark;
}

#about h4 {
  color: $theme-color-dark;
}

.steps {
  @include inline-el;
  @include div-shadow;
  margin: 10px;
  padding: 15px;
  width: 250px;
  height: 250px;
  border: 2px solid $theme-color;
  border-radius: 5px;
  vertical-align: top;
}

.step-icon {
  height: 50%;
}

.step-icon .fa {
  padding: 10px;
  font-size: 45px;
  color: $theme-color;
}

.step-icon h4 {
  margin: 15px auto;
  font-size: 18px;
  @include upcase;
}

.step-text {
  padding: 20px 0 20px 0;
  text-align: justify;
}

.step-text span {
  font-size: 16px;
  color: $theme-color-dark;
}

#pricing {
  @include div-shadow;
  margin: 0px auto;
  padding: 60px 0 60px 0;
  height: 500px;
  background: url($prius-image-url);
  @include full-bg;
}

.pricing-section {
  padding: 20px;
  border: 2px solid #e2e2e2;
  background: rgba(255,255,255, 0.75);
  border-radius: 10px;
}

#shifts-info {
  @include inline-el;
  margin-right: auto;
  width: 20%;
  vertical-align: middle;
}

#shifts-info h4 {
  margin: 0;
  font-size: 30px;
  color: $theme-color-dark;
}

#shifts-info li {
  @include underline;
  color: $theme-color-dark;
  margin: 5px auto;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
}

#pricing-info {
  @include inline-el;
  @include align-left;
  width: 70%;
  vertical-align: middle;
}

#pricing-info p {
  font-size: 20px;
  color: $theme-color-dark;
}

.prices {
  color: $theme-color-dark;
  margin: 5px auto;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
}

#user-signup-flow {
  margin: 30px auto;
}

#user-signup-flow div {
  @include inline-el;
  margin: auto 10px;
  vertical-align: top;
}

#info-icon .fa {
  font-size: 35px;
  color: $theme-color-dark;
}

#info-text {
  width: 70%;
}

#info-text span {
  font-size: 22px;
  font-weight: bold;
  color: $theme-color-dark;
}

#faq {
  margin: 0px auto;
  padding: 60px 0 60px 0;
}

#faq h1 {
  color: $theme-color-dark;
}

#faq-header {
  font-size: 18px;
  font-style: italic;
  color: $theme-color-dark;
}

.eligibility-rules {
  @include align-left;
  margin: 10px 25px;
  padding: 10px;
}

.eligibility-rules h2 {
  @include bold-font;
  color: $theme-color-dark;
  font-size: 25px;
}

.eligibility-rules h4 {
  @include bold-font;
  color: $theme-color-dark;
  font-size: 22px;
}

.eligibility-rules  li {
  margin: 5px auto;
  padding: 5px;
  font-size: 20px;
  color: $theme-color;
}

.requirement .fa {
  font-size: 30px;
  color: $theme-color-dark;
}

.requirement {
  margin: auto 5px;
  @include inline-el;
  vertical-align: middle;
}

.requirement span {
  font-size: 20px;
  color: $theme-color;
}

ul.with-bullets {
  margin: auto 30px;
  list-style-type: disc;
}

.question-answer-pairs {
  margin: 10px 20px;
  padding: 10px;
  @include align-left;
}

.question {
  padding: 8px 10px;
  width: 70%;
  background: $theme-color-dark;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.question span {
  font-size: 16px;
  color: #fff;
}

.question .fa {
  padding: 0 10px;
  float: right;
  font-size: 18px;
  color: #fff;
}

.answer-hidden {
  display: none;
  transition: display 1s ease-out;
  margin: 10px;
  padding: 15px;
  color: $theme-color;
  border: 1px solid #e2e2e2;
  background: rgba(255,255,255, 0.5);
  border-radius: 10px;
  font-size: 16px;
}

.answer-show {
  display: block;
  transition: display 1s ease-out;
  margin: 10px;
  padding: 15px;
  color: $theme-color;
  border: 1px solid #e2e2e2;
  background: rgba(255,255,255, 0.5);
  border-radius: 10px;
  font-size: 16px;
}

.answer .list-item {
  margin: 5px auto;
}

.forum-section-header {
  @include align-left;
  padding: 0 30px;
}

#footer {
  background: $page-bg-gradient-start;
  margin: 20px auto;
  padding: 10px;
}

#facebook-logo a {
  font-size: 45px;
}

#facebook-logo .fa {
  color: #3b5998;
}
