<div id="footer">
  <div id="facebook-logo">
    <a href="https://www.facebook.com/ERIVEchicago/" target="_blank">
      <i class="fa fa-facebook-official"></i>
    </a>
  </div>
  <p>E-RIVE LLC | 1538 N Western Ave Chicago IL 60622 USA<p>
  <p>Copyright &copy; 2015 E-RIVE LLC, All rights reserved.</p>
</div>
