<div id="header">
  <div class="header-div" id="logo-container">
    <img src="https://www5.rentcentric.com/Client6228/images/LocationID116photo-3.png" />
  </div>
  <div class="header-div cushycms" id="nav-holder">
    <ul>
      <li class="nav-option">
        <%= link_to 'Sign Up', 'https://www5.rentcentric.com/Client6228/SelfServiceMobile/Register.aspx', class: 'nav-link', target: '_blank' %>
      </li>
      <li class="nav-option">
        <span class='nav-link section-link' data-target="about">About</span>
      </li>
      <li class="nav-option">
        <span class='nav-link section-link' data-target="pricing">Pricing</span>
      </li>
      <li class="nav-option">
        <span class='nav-link section-link' data-target="faq">FAQ</span>
      </li>
    </ul>
  </div>
</div>
