<!-- <div id="header">
  <div id="nav-container">
    <div id="nav-holder">
      <ul style="list-style-type:none">
      </ul>
    </div>
  </div> -->
  <!-- <div id="header-img"> -->
    <div id="logo-container">
      <img src="https://www5.rentcentric.com/Client6228/images/LocationID116photo-3.png" style="width:75px;" />
    </div>
    <div id="header-container">
      <div id="header-text-container">
        <h1 id="header-text">Low Cost Car Sharing</h1>
        <!-- <div id="join-btn-container"> -->
          <%= link_to 'Join Now', 'https://www5.rentcentric.com/Client6228/SelfServiceMobile/Register.aspx', class: 'button', id: 'sign_up_button' %>
        <!-- </div> -->
      </div>
    </div>
  <!-- </div> -->
  <!-- </div> -->
