<div id="header">
  <div class="header-div" id="logo-container">
    <img src="https://www5.rentcentric.com/Client6228/images/LocationID116photo-3.png" />
  </div>
  <div class="header-div" id="nav-holder">
    <ul>
      <li class="nav-option">
        <%= link_to 'Sign Up', 'https://www5.rentcentric.com/Client6228/SelfServiceMobile/Register.aspx', class: 'nav-link', target: '_blank' %>
      </li>
      <li class="nav-option">
        <%= link_to 'About', '#about', class: 'nav-link section-link' %>
      </li>
      <li class="nav-option">
        <%= link_to 'Pricing', '#pricing', class: 'nav-link section-link' %>
      </li>
      <li class="nav-option">
        <%= link_to 'FAQ', '#faq', class: 'nav-link section-link' %>
      </li>
    </ul>
  </div>
</div>
