<div id="header-mobile">
  <div class="header-div" id="logo-container">
    <img src="https://www5.rentcentric.com/Client6228/images/LocationID116photo-3.png" />
  </div>
  <div class="mobile-sign-up header-div">
    <%= link_to 'Sign Up', 'https://www5.rentcentric.com/Client6228/SelfServiceMobile/Register.aspx', target: '_blank' %>
  </div>
</div>
