<div id="main-display">
  <div class="section">
    <div id="display-text-container">
      <h1 class="cushycms" id="company-slogan">Low Cost Car Sharing</h1>
      <ul class="cushycms">
        <li class="company-description">Flexible Scheduling</li>
        <li class="company-description">Low Cost Pricing</li>
        <li class="company-description">Insurance, Electricity, Miles &amp; Maintenance Included</li>
        <li class="company-description">Zero Emission &amp; Hybrid Vehicles Available</li>
        <li class="company-description">No Annual Fee. No Commitment</li>
      </ul>
    </div>
    <div id="display-screen-buttons">
      <%= link_to "Join Now \&#42;", 'https://www4.rentcentric.com/Client6073/SelfServiceMobile/Register.aspx', class: 'button', target: '_blank' %>
      <h4>&#42; $169 Application Fee Required</h4>
    </div>
  </div>
</div>

<div id="about">
  <h1>How It Works</h1>
  <div class="steps">
      <div class="step-icon">
        <i class="fa fa-users"></i>
        <h4><strong>1.</strong> Join</h4>
      </div>
      <div class="cushycms step-text">
        <span>
          <%= link_to 'Apply Now!', 'https://www4.rentcentric.com/Client6073/SelfServiceMobile/Register.aspx', class: 'inline-link', target: '_blank' %> You'll get your E‑RIVE Link that unlocks our entire fleet of gas and electric cars.
        </span>
      </div>
  </div>
  <div class="steps">
    <div class="step-icon">
      <i class="fa fa-calendar"></i>
      <h4><strong>2.</strong> Reserve</h4>
    </div>
    <div class="cushycms step-text">
      <span>Book an E‑RIVE for one of the three daily shifts.</span>
    </div>
  </div>
  <div class="steps">
    <div class="step-icon">
      <i class="fa fa-mobile"></i>
      <h4><strong>3.</strong> Get In</h4>
    </div>
    <div class="cushycms step-text">
      <span>Walk to the car and unlock it with your smartphone. The doors will open and you're off!</span>
    </div>
  </div>
  <div class="steps">
    <div class="step-icon">
      <i class="fa fa-car"></i>
      <h4><strong>4.</strong> Drive</h4>
    </div>
    <div class="cushycms step-text">
      <span>At the end of your shift, return the car. You're all done!</span>
    </div>
  </div>
</div>

<div id="pricing">
  <div class="section">
    <div id="pricing-info" class="cushycms">
      <ul>
        <li class="prices">
          <div class="price-type">
            <span class="vehicle-type">Gas Vehicle</span>
            <span class="shift-price">$30.50/Shift</span>
          </div>
        </li>
        <li class="prices">
          <div class="price-type">
            <span class="vehicle-type">Electric Vehicle</span>
            <span class="shift-price">$37.90/Shift</span>
          </div>
        </li>
        <li class="prices">
          <div class="price-type">
            <span class="vehicle-type">Weekend/Holiday Surcharge</span>
            <span class="shift-price">$5.50/Shift</span>
          </div>
        </li>
      </ul>
      <p>&#42; Taxes and insurance included in price</p>
      <p>&#42; Charges are applied at end of each day</p>
      <p>&#42; Immediate payment is required</p>
    </div>
    <div id="shifts-info" class="cushycms">
      <h4>Choose From 3 Shifts</h4>
      <ul>
        <li>4 AM - 11 AM</li>
        <li>12 PM - 7 PM</li>
        <li>8 PM - 3 AM</li>
      </ul>
    </div>
    <div id="user-signup-flow">
        <span>Reserve Your Car Today!</span>
    </div>
    <%= link_to "Sign Up", 'https://www4.rentcentric.com/Client6073/SelfServiceMobile/Register.aspx', class: 'button', style: 'width:150px', target: '_blank' %>
  </div>
</div>

<div id="faq">
  <h1 class="cushycms">Everything You Need To Know</h1>
  <p id="faq-header" class="cushycms">Of course you have questions. It's not every day someone decides to hand you the keys to a brand new car.</p>
  <div class="eligibility-rules">
    <h2 class="cushycms">Make Sure You're Eligible!</h2>
    <ul>
      <li>
        <div class="requirement">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="requirement cushycms">
          <span>23 years of age</span>
        </div>
      </li>
      <li>
        <div class="requirement">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="requirement cushycms">
          <span>Valid United States driver's license</span>
        </div>
      </li>
      <li>
        <div class="requirement">
          <i class="fa fa-check-circle-o"></i>
        </div>
        <div class="requirement cushycms">
          <span>At least 3 years of driving experience</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="eligibility-rules cushycms">
    <h2>Make Sure You Do Not Have One Of The Following In The Past 3 Years</h2>
    <ul>
      <li>No More Than 3 Moving Violations</li>
      <li>No More Than 1 Accident And 1 Moving Violation</li>
      <li>No Violations Or Accidents If Under The Age Of 25</li>
    </ul>
  </div>
  <div class="eligibility-rules cushycms">
    <h2>Make Sure You Do Not Have One Of The Following In The Past 5 Years</h2>
    <ul>
      <li>Alcohol or Drug Convictions</li>
      <li>Hit And Run, Involving A Motor Vehicle</li>
      <li>Reckless Driving</li>
      <li>Felony Involving A Motor Vehicle</li>
    </ul>
  </div>
  <p class="cushycms">
    Applicants must accept the Terms and Conditions of the Member Contract and the Member Handbook and pay a non-refundable $169 application fee with a valid credit card on file. We take all Debit/Credit cards with a 'Visa' or 'MasterCard' logo
  </p>
</div>

<div id="more-questions">
  <h1 class="cushycms forum-section-header">Membership</h1>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Will I be charged an annual membership fee?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">No, E-RIVE does not charge any membership fees to remain part of the program</div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Do I really need to complete the orientation in person?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Yes. We are really excited to meet you and want to ensure you are able to get the most out of our program.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Am I allowed to use my vehicle for Uber?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      <p>Yes, as long as you have an active Uber Email and Uber Phone Number on file with us. E-RIVE is a partner to Uber and our vehicles have been inspected and insured to meet Uber’s standards. When driving for Uber, E-RIVE will need to let Uber know which vehicle you will be using and when. If you do not currently have an Uber Email and Uber Phone Number and wish to obtain one, let us know and we will facilitate that for you.</p>

      <i>Participation in the E-RIVE rental program is entirely voluntary for Uber Partners. This special rental program is brought to you by E-RIVE. Not all applicants will qualify for this program. E-RIVE has set the requirements for its program, and those eligibility requirements must be met for applicant’s approval.</i>

      <p>Notify us immediately so we can cancel it and arrange to get a replacement for you. There will be a fee to cover our costs.</p>
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>How do I cancel my membership?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Members are free to cancel their membership at any time and for any reason. Members will need to contact the E-RIVE office at <%= link_to 'info@e-rive.com', 'mailto:info@e-rive.com', class: 'inline-link' %> to make this arrangement.
    </div>
  </div>

  <h1 class="cushycms forum-section-header">Insurance And Damage</h1>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What’s the insurance coverage?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      <p>E-RIVE provides the following coverage for our Members:</p>
      <ul class="with-bullets">
        <li class="list-item">
          Automobile Liability with a limit for Bodily Injury of $50,000 per person/$100,000 per accident and a limit for Property Damage of $25,000 per accident
        </li>
        <li class="list-item">Uninsured Motorists Protection with a limit of $25,000 per person/$50,000 each accident</li>
        <li class="list-item">Underinsured Motorists Protection with a limit of $25,000 per person/$50,000 each accident</li>
        <li class="list-item">
          As respects Automobile Physical Damage (Comprehensive and Collision) to the vehicle itself, the Member is responsible for:
          <ul class="with-bullets">
            <li class="list-item">$2,500 deductible per accident unless and enhanced Damage Fee Waiver is purchased</li>
            <li class="list-item">$0 deductible if Member purchases the enhanced Damage Fee Waiver for $80 per year</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What is the Damage Fee?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      The Damage Fee is the maximum liability a Member has for any incident. The maximum Damage Fee, if no enhanced Damage Fee Waiver is purchased, at E-RIVE is $2,500 per incident. This would be waived if a sufficiently insured third party is found to be 100% at-fault. Note: Members are not held responsible for normal wear and tear on the vehicle. <strong>It is critical you inspect the vehicle inside and out before you begin every reservation and report any damage.</strong> This will ensure you will not be held responsible for damage prior to your reservation. 
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Can I purchase a Damage Fee Waiver?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Yes. The enhanced Damage Fee Waiver allows you to eliminate the Damage Fee for physical damage to the car. You can make this purchase during the application process or any time during your membership.
    </div>
  </div>

  <h1 class="cushycms forum-section-header">Reservations</h1>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>How do reservations work?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      <p>You will make a reservation on E-RIVE’s online reservation system. All reservations must begin and end at the same location which will be listed on your reservation confirmation.</p>
      <p>We like simplicity. Our rates are fixed and everyone plays by the same rules. Vehicles are available daily in one of three shifts (4am – 11am, 12pm – 7pm, 8pm - 3am). You also get the hour in between free of charge if you reserve two or more shifts consecutively.</p>
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What are the rates per shift and when will I be charged?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      E-RIVE is now offering one rate plan. This plan requires a non-refundable application fee of $169 and offers $30.50 per shift on gas or hybrid vehicles and $37.90 per shift on all-electric vehicles. There is a $5.50 surcharge on Fridays, Saturdays, Sundays, and Holidays. Payments for this plan will be charged to your credit card daily following your reservation. 
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Is electricity included for the electric vehicles?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      E-RIVE covers the cost of electricity at any E-RIVE charging location. Any charging away from one of E-RIVE’s charging locations is not covered. You may bring the vehicle to any E-RIVE charging location at any time during your reservation for a quick charge which will add some powerful range. 
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Are miles really unlimited?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Yes. We don’t charge anything extra for excessive mileage. It would be appreciated if you could be respectful of our kindness by only driving the necessary miles to accomplish your goals so we can keep our prices as competitive as possible. 
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Who pays for gas?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Each Member must return the vehicle at the end of their reservation with the gas tank at least 97% full. Our technology plugs directly into the vehicle’s computer so we can get an extremely accurate reading upon ending the reservation. There will be a fee plus the "cost of gas" to fill the tank if the level is below 97% full. The “cost of gas” charged will be given directly to the next reservation as a credit. 
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What taxes will be added to my reservation? </span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      A 12% IL Automobile Rental Tax is applied to each rental and included in the price.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What’s the cancellation policy?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Changes or cancellations to a reservation must be made at least 36 hours before the start of your reservation or within 3 hours from the time you book your reservation to avoid incurring a fee. The fee is equal to the full cost of the reservation. We will make an exception for inclement weather in some cases. 
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Are hand controls available?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Yes. We ask that you give us a call at least 24 hours before your reservation so we can make arrangements to have them installed for your reservation. 
    </div>
  </div>

  <h1 class="forum-section-header">Driving</h1>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What happens after I reserve a vehicle?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
    <p>You will reserve a specific vehicle for a specific time and specific location. At the time of your reservation, you will go to the location and inspect the vehicle for damage. If any is found, you will need to report it before you drive the vehicle or you could be held responsible for it. If the vehicle looks in good shape, you will use your smartphone to unlock the car. This is how you will unlock or lock the doors.</p>
    <p>The key to start the vehicle will be found attached to the steering wheel and will remain in the car at all times. If there is no key, there will be a start button which is activated when you step on the brake pedal. Start the vehicle and you are on your way! During your reservation, you will lock and unlock the vehicle with your smartphone. When you are ready to return the vehicle, you must fill up the gas tank and clean the vehicle. You will return the vehicle to the same place and lock the vehicle with your smartphone. Also, take a walk around the vehicle to check for damage. If any is found, please report immediately.</p>
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Is smoking allowed?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Our vehicles are smoke-free vehicles. We do not allow smoking under any circumstances. If you need to smoke, please do so away from the vehicle. Any smoke damage reported will result in cleaning fees.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Can anyone else drive the car during my scheduled time</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Only Members who reserve the vehicle are allowed to drive the vehicle. If a vehicle is driven by a non-Member (or a Member who did not reserve the vehicle) and an accident occurs, your membership will be terminated and you will be held responsible for damages. You cannot allow a valet or any other parking service to park the vehicle during your reservation.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Can I be guaranteed a reliable and clean vehicle?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Of course! We provide vehicles no older than 5 years old. Our vehicle preventive maintenance program ensures reliability and safety. Please call us if there are any damage or cleanliness problems with the vehicle.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What if the vehicle breaks down?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      If there is a problem with the vehicle, please call us immediately. We provide 24/7 road service. Keep in mind that you may be liable for the cost if it is due to driver error.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What if the vehicle gets stolen while under my care?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Please call us immediately if your vehicle has been stolen. Our vehicles are equipped with anti-theft and tracking devices which allow us to swiftly retrieve the vehicle. If you follow the E-RIVE instructions when exiting and entering the vehicle, the car will be immobile when you are not in it. Make sure you follow instructions carefully, as damage fees can be applied if the vehicle is left in an unlocked condition.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>Can I extend my reservation?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Members should not expect to extend their reservations, but we will try to accommodate your needs. Since our vehicles are in high demand, your vehicle is likely reserved to another Member immediately following your reservation. Please call our office immediately if you think you will need to return your car late.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What about tolls?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      E-RIVE has an account with I-PASS and each vehicle is assigned its own I-PASS transponder. Members will be charged for tolls that are accrued on the vehicle for their reservation time (E-RIVE does not charge a fee for this service). Members should not use their own I-PASS transponder to pay for tolls. Members are responsible for all tolls, and should make sure I-PASS is accepted at toll booths to avoid violations.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What if I get a ticket during my reservation?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      Members are responsible for any traffic or parking violations. They must be dealt with as if it were your own vehicle. Any violations that come to E-RIVE may result in fees.
    </div>
  </div>
  <div class="cushycms question-answer-pairs">
    <div class="question collapsible">
      <span>What if I get into an accident with the vehicle?</span>
      <i class="fa fa-plus"></i>
    </div>
    <div class="answer closed">
      You are required to treat the accident as you would if you were driving your own vehicle. In addition, however, you will need to report the accident to us as soon as is possible. Your membership will be automatically suspended until we do an investigation into the incident. Protect yourself. If possible, get a police report and pictures. Make sure you get relevant information from all parties involved.
    </div>
  </div>
</div>
